[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
effect = "*"
stats = "*"
value = "*"
medium = "*"
pr = "*"
population = "*"
current = "*"
adapter = "*"
rend = "*"
radius = "*"
prototype = "*"

[dev-packages]

[requires]
python_version = "3.9"
